#cont1 {
position:absolute;
top: 300px;
height:200px;
margin: 10px;
background-color:silver;

}


#cont2 {

position:absolute;
top: 600px;
height:200px;
margin: 10px;
background-color:silver;

}


#cont3 {

position:absolute;
top: 900px;
height:200px;
margin: 10px;
background-color:silver;

}